.details-title,
.details-date,
.details-amount {
  margin: 0;
}

.details-wrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #999;
  min-height: 65px;
}

.details-paid {
  color: green;
}

.details-right-section {
  text-align: right;
}
