.trivia-modal {
  background-color: rgba(255, 104, 37, 0.89);
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 1.4em;
  text-shadow: 2px 1px 1px #333;
}

.trivia-modal p {
  font-size: 1.1em;
}

.trivia-timer {
  color: #f5ffd0;
  font-size: 40px;
  margin-top: 50px;
  text-align: center;
}

.trivia-title p {
  text-align: center;
  //margin-bottom: 50px;
}

.trivia-buttons {
  flex: 1 0 auto;
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 75px;

  button {
    width: 45%;
    margin: 5% 2.5%;
    border: 1px solid #ccc;
    color: #fff;
    flex: 0 0 44%;
    padding: 15px;
    background: rgba(0, 143, 194, 0.7);
    height: 140px;
  }
}

.trivia-status {
  display: flex;
}

.trivia-modal.rewards {
  background: url('../../images/confeti.png') rgba(0, 183, 233, 0.70);
  text-align: center;
}

.rewards-cup {
  max-width: 200px;
  margin: 0 auto;
}

.correct-answer {
  margin-top: 244px;
  text-align: center;
  margin-bottom: 9px;
}
