.html,
.root,
.app,
body {
  height: 100vh; }

p {
  font-size: 15px; }

.app {
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden; }

.app-body {
  flex: 1;
  position: relative;
  overflow-y: scroll; }

.no-margin {
  margin: 0; }

.rewards-wrapper {
  padding: 20px; }

.confirmation-button-wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center; }

.rewards-modal {
  background: white;
  width: 100%;
  margin: 20px;
  overflow-x: hidden;
  overflow-y: scroll; }

.rewards-modal-wrapper {
  height: 100%;
  display: flex;
  justify-content: center; }
